html {
  height: 100%;
  width: 100%;
}


#grad1 {
  height: 750px;
  background-color: green; 
  background-image: linear-gradient(to right, lime, #00ff7b, #aeff00, green, #00a849, #408000, #99ff00);
}

.home-header {
  color: #ff007b;
  font-weight: bold;
  font-family: Georgia, serif;
  text-align: center;
  font-size: 15px;
  padding-top: 30px;
}

.home-paragraph{
  color: #ff007b;
  font-weight: bold;
  font-family: Georgia, serif;
  text-align: center;
  font-size: 15px;
  padding-top: 1px;
}

img {
  padding-bottom: 
}

#grad2 {
  height: 750px;
  background-color: #ae00ff; 
  background-image: linear-gradient(to right, #d600ff, #ae00ff, #9a00ff, #8000ff, #6600ff);
}

.cost {
  color:violet;
  position: absolute;
  top:60px;
  right:42%;
  font-size: 80px;
  font-weight: bolder;
  font-family: Georgia, serif;
}

#SH-1 {
  color: #fd8bd9;
  position: absolute;
  top: 10%;
  left:7%;
  font-weight: bolder;
  font-size: 30px;
  font-family: Didot, serif;
  text-decoration: underline;
}

.List-1 {
  color:#fd8bd9;
  position: absolute;
  top: 17%;
  left: 9%;
  font-size: 25px;
  font-family: Didot, serif;
}

#SH-2 {
  color: #fd8bd9;
  position: absolute;
  top: 36%;
  left:7%;
  font-weight: bolder;
  font-size: 30px;
  font-family: Didot, serif;
  text-decoration: underline;
  text-align: center;
}

.List-2 {
  color:#fd8bd9;
  position: absolute;
  top: 51%;
  left: 8%;
  font-size: 30px;
  font-family: Didot, serif;
}

.pg2-p1 {
  color:#fd8bd9;
  position: absolute;
  top:66%;
  left:4%;
  font-weight: bolder;
  font-size: 33px;
  font-family: Didot, serif;
  text-align: center;
}

.SH-3 {
  color: #fd8bd9;
  position: absolute;
  top: 20%;
  right: 4%;
  font-weight: bolder;
  font-size: 30px;
  font-family: Didot, serif;
  text-align: center;
  text-decoration: underline;
}

.pg2-p2 {
  color: #fd8bd9;
  position: absolute;
  top: 29%;
  right: 5%;
  font-size: 25px;
  font-family: Didot, serif;
  text-align: center;
}

.pg2-p3 {
  color:#fd8bd9;
  position: absolute;
  top: 42%;
  right: 2%;
  font-size: 25px;
  font-family: Didot, serif;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: #e100ff;
  padding: 9px;
  position: absolute;
  top: 35%;
  right: 38%;
  width: 18%;
  height: 49%;
}
.grid-item {
  background-color: rgba(206, 184, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 1px;
  color:#3900a3;
  font-size: 11px;
  font-family: fantasy;
  text-align: center;
}

#grad3 {  
  height: 750px;
  background-color:#19B2FF; 
  background-image: linear-gradient(to right, #0026E6, #19B2FF, #19D9FF, #4019FF, #00FFFF);
}

h1{
  position: absolute;
  top: 10%;
  right:32%;
  font-size: 40px;
  font-weight: bolder;
  font-family: Georgia, serif;
  text-decoration: underline;
}

.title-1 {
  color: #00228a;
  position: absolute;
  top: 16%;
  right: 69%;
  font-weight: bolder;
  font-size: 30px;
  font-family: Didot, serif;
  text-align: center;
  text-decoration: underline;
}

.pg3-p1 {
  color:#00228a;
  position: absolute;
  top: 23%;
  right: 65%;
  font-size: 13px;
  font-family: Didot, serif;
  text-align: center;
  font-weight:bolder;
}

.title-2 {
  color: #00228a;
  position: absolute;
  top: 54%;
  right: 39%;
  font-weight: bolder;
  font-size: 21px;
  font-family: Didot, serif;
  text-align: center;
  text-decoration: underline;
}
.pg3-p2 {
  color:#00228a;
  position: absolute;
  top: 60%;
  left:23%;
  font-size: 17px;
  font-family: Didot, serif;
  text-align: center;
  font-weight:bolder;
}

.image-2 {
  position: absolute;
  left:70%;
  top: 13%;
  background-image: url("https://www.cooperative-individualism.org/tax-burden.gif");
  border-radius: 5px;
  border:2px solid #00ff40;
  padding: 12%;
  width: 30px;
  height:60px;
  box-shadow: 10px 10px 5px 5px #00ffb3;
}

#grad4 {
  height: 750px;
  background-color:#FFFF33; 
  background-image: linear-gradient(to right,#B3B300, #FFFF33, #FFFF4D, #FFFF99, #808000);
}

h2 {
  color:#000000;
  position: absolute;
  top: 15%;
  right:38%;
  font-size: 40px;
  font-weight: bolder;
  font-family: Georgia, serif;
  text-decoration: underline;
}

.items {
  color:#000000;
  position: absolute;
  top: 22%;
  left:29%;
  font-size: 13px;
  font-family: Didot, serif;
  text-align: center;
}

#grad5 {
  height: 750px;
  background-color:#FFB366; 
  background-image: linear-gradient(to right,#FF8C19, #FFB366, #FF3355, #FF4D6A, #E6004C);
}

.title-3{
  color: black;
  position: absolute;
  top:8%;
  left: 43%;
  font-weight: bolder;
  font-size: 60px;
  font-family: Didot, serif;
  text-align: center;  
  text-decoration: underline;
}

.sources{
  color:black;
  position: absolute;
  top:80%;
  left:-25px;
  font-weight: bolder;
  font-size: 32px;
  font-family: Didot, serif;
  text-align: center;  
}

